<! DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content ="initial-scale=1.0, user-scalable=0" />
		<style type="text/css">
			html { height: 100%}
			body { height: 100%; margin: 0; padding: 0}
			#map_canvas {height: 100%}
		</style>
		<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAub1CZ3WYwgCWk9W_Ze-6i8pp-CyzGRJQ&sensor=true">
		</script>
		<script type="text/javascript">
			function initialize() {

				var geolocator;

				function displayPosition(position){
					map.setCenter(new google.maps.LatLng(position.coords.latitude, 
                                     position.coords.longitude));
				}

				function displayError(positionError){
					alert("error");
				}

				var mapOptions = {
					center: new google.maps.LatLng(-42.358607,71.093057),
					zoom: 15,
					mapTypeId: google.maps.MapTypeId.ROADMAP
				};

				var map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);

				try {
					geolocator = navigator.geolocation;
				} catch(e) {}

				if(geolocator) {
					geolocator.getCurrentPosition(displayPosition, displayError);
				}

				var marker = new google.maps.Marker({
					position: map.getCenter(), 
					map: map,
					title: 'Your first event'
				});

				function createMarker(latLng){
					var marker = new google.maps.Marker({
						position: latLng,
						map: map,
						title: 'Another marker'
					});
					google.maps.event.addListener(marker, 'click', function(){
						marker.setVisible(false);
					});
				}

				google.maps.event.addListener(marker, 'click', function(){
					marker.setVisible(false);
				});

				google.maps.event.addListener(map, 'click', function(event){
						createMarker(event.latLng);							
					});		
				}
			google.maps.event.addDomListener(window, 'load', initialize);
		</script>
	</head>
	<body>
		<h1> Victor and Akash's MapApp!</h1>
		<div id="map_canvas" style="width:100%; height:90%; margin-top:10px;"></div>
	</body>
</hmtl>
